/* ----------------------------------------------FONTS */
@import url('https://fonts.googleapis.com/css?family=Coiny'); 
@import url('https://fonts.googleapis.com/css?family=Felipa');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* ----------------------------------------------BACKGROUND'S */
.BG1 {
    background-image: url("../assets/images/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.BG2 {
    background-color: #3e4444;
}

.gallery-background {
    background-image: url("../assets/images/gallerybackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----------------------------------------------HOME */
    
.display-4 {
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
    font-family: 'Coiny', sans-serif;
    font-weight: 500;
}

.nav-link {
 font-family: 'Coiny', sans-serif;
 font-size: 27px;
 font-weight: 300;
 color: #f44336;
 transition: 1.0s;
    
}

/* ----------------------------------------------HOVER */

.nav-link:hover {
 color: #ffffff;
 font-weight: 400;
}


/* --------------------------------------------SECTION */

.container-margin {
    margin-top: 20px;
}

.bg-color {
    background-color: #000000;
    
}

.fg-properties {
  text-align: center;
  font-family: 'Felipa', sans-serif;
  font-size: 25px;
  color: #ffffff;
  transition: 0.8s
    
}

.fg-properties:hover {
 color: #f44336;
 font-weight: 400;
}


/* ----------------------------------------------MAIN */


.blockquote {
    margin-top: 15px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    
}

.clip {
    margin-top: 18px;
}


/* -----------------------------------------ALBUMS */


.col-sm-4 {
    margin-top: 15px;
}

.card-body {
    background-color: #000000;
}

.card-text {
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Felipa', sans-serif;
    font-weight: 200;
    font-size: 22px;
}



/* -----------------------------------------------HISTORY */

.history-p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    letter-spacing: 2px;
    color: #ffffff;
    
}


/* -----------------------------------------FOOTER */

footer {
    margin-top: 30px;
    margin-bottom: 20px;
}


.social {
    font-size: 40px;
}

.contact {
    color:white;
}

/* -----------------------------------------MEDIA Q */

